.sub-title {
    font-size: 14px !important;
    font-weight: 500;
}

.color-good {
    border-left: 2px solid rgb(0, 110, 255);
    font-size: 14px;
    font-weight: bold;
}

.guage-value {
    top: 40%;
    right: 10%;
}